
#container {
}

div {
	border: .5px solid gray;
}

#navbar {	
	width: 100%;
	height: 2em;
}

.nav_item {
	position: relative;	
	display: inline;
	float: right;
	padding: 1em;
}

#apps_icon img {
	height: 2em;
	width: auto;
	margin-top: -.3em;
}

#content {
	position: absolute;
	width: 100%;	
	top: 30%;
}

#logo {
	margin: auto;	
	width: 20em;
	height: 6em;
	text-align: center;
}

#button_div {
	position: relative;
	margin: auto;
	width: 20em;
	height: 4em;
	max-width: 20em;	
	padding-top: 2em;
	text-align: center;
}

.button_item {
	display: inline;
	width: 40%;
	height: 4em;
	padding: 1em;
	padding-top: 1em;
	margin: auto;
	text-align: center;
	border: .2em solid gray;

}

#resources_link {
	margin: auto;
	text-align: center;
}