
#container {
}

#navbar {	
	width: 100%;
	height: 2em;
}

.nav_items {
	position: relative;	
	display: inline;
	float: right;
	padding: 1em;
}

#apps_icon img {
	height: 2em;
	width: auto;
	margin-top: -.3em;
}

#content {
	position: absolute;
	width: 100%;	
	top: 30%;
}

#logo {
	margin: auto;
	max-width: 15em;
	width: 15em;
	height: 5em;
}
