
#container {
	height: 100%;
}

a {
	text-decoration: none;
}

/*div {
	border: .5px solid gray;
}*/

#navbar {	
	width: 100%;
	height: 2em;
}

.nav_item {
	position: relative;	
	display: inline;
	float: right;
	padding: 1em;
}

#apps_icon img {
	height: 2em;
	width: auto;
	margin-top: -.3em;
}

#content {
	position: absolute;
	width: 100%;	
	top: 30%;
}

#logo {
	margin: auto;	
	width: 20em;
	height: 6em;
	text-align: center;
	margin-bottom: 1em;
}

#search_box {
	margin: auto;
	width: 30em;
	height: 2em;
	border: .1em solid gray;
}

#button_div {
	position: relative;
	margin: auto;
	width: 20em;
	height: 2em;
	max-width: 20em;	
	padding-top: 2em;
	text-align: center;
}

.button_item {
	display: inline;
	width: 40%;
	height: 4em;
	padding: .3em;
	margin: auto;
	text-align: center;
	background-color: #dad2d2;
}

.button_item:hover {
	border: .1em solid gray;
}

#feeling_lucky {
	margin-left: 2em;
}

#resources_link {
	margin: auto;
	text-align: center;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2em;
	clear: both;
}

#footer div {
	display: inline;
	padding-right: 1em;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}